/*  importing font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  universal CSS styles*/

*{
    padding: 0px;
    margin: 0px ;
    font-family: "Poppins", sans-serif;
}


/* color roots */

:root{
    --secondary--color:#335578;
    --primary--color:#0e89f3;
    --font--color:white;
    --black--color:black;
}


/*  container */

.container{
    margin: 0px 100px;
}

/* removing  list style */

ul li{
    list-style: none;
}


/* removing a tag text decorotion */



a{
    text-decoration: none;
    
}


/* ============================================================================================================= */


/* nav bar */
.nav-bar{
    height: 60px;
    width: 100%;
    position: fixed;
    transition:background-color 0.5s ease-in;
    background-color: transparent;
    top: 0px;
    z-index: 1000;

}


/* change background color of the navbar when we sroll down */

.nav-bar.scrolled {
    background-color: var(--font--color);
    color: var(--primary--color);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.nav-bar.scrolled a{
    color: var(--primary--color);
}


/* nav bar logo */

.navBar-logo img{

    height: 40px;
    width: 40px;
    align-self: center;

}

/* nav bar elements and content */


.navBar-elements{
    display: flex;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* nav bar links  */


.navBar-links{
    width: 50%;
}


.nav-bar ul {
    display: flex;
    justify-content: space-between;
}


.nav-bar a{
    color: var(--font--color);
    font-size: 0.875rem;
     position: relative;
}


/* .nav-bar ul a:hover{
    color: var(--primary--color);
   

} */



.nav-bar li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1.9px;
    left: 0;
    bottom:-3px;
    background: var(--primary--color);
    transform: scale(0, 1);
    transition: transform 0.3s ease-in-out;
   
}

.nav-bar li a:hover::after{
    transform: scale(1,1);

}







/* ====================================================================================================== */

/* hero section  */


/* herosection images */


.herosection-images{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    width: 100%;
    position: relative;
    
    /* background-image:linear-gradient(  rgba(0, 0, 0, 0.5), rgba(0 ,0,0,0.5)    ), url(../Photos/herosection1.jpg) ;
    background-size: cover; */
}


.herosectionImage{
    height: 100vh;
    width: 100%;
    /* display: flex; */
    /* overflow-x: hidden; */
    /* gap: 200px; */
    
}

.herosectionImage::-webkit-scrollbar{
    display: none;
}


.herosectionImage img{
    height: 100vh;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
    display: block;
}


/* herosection text / contents */

.herosection-text-content h1{
    text-align: center;
    font-size: 4rem;
    color: var(--font--color);
}

.herosection-text-content {
    color: var(--font--color);
    text-align: center;
    font-size: 0.875rem;
    margin-top: 200px;
    position: absolute;
    /* margin-top: -200px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




/* main contetnet */

.main{
    height: 100vh;
    width: 100%;

}
